- content_for :title do
  Home
.jumbotron.vertical-center.text-center
  .container
    %br
    %h1 Nomad Weekly
    %p.lead
      A free e-mail round-up delivered to your inbox every Thursday.
    .row
      %br
      .container
        .row
          .col-md-4
          .col-md-4
            = simple_form_for subscribe_path do |f|
              = f.input :email
              = f.button :submit
            -#.input-group.input-group-lg
            -#  %input.input-lg.form-control{:placeholder => "Your email", :type => "text"}
            -#  %span.input-group-btn
            -#    %a.btn.btn-success.btn-lg{:type => "button"} Subscribe
          .col-md-4
      %p.subtext
        %br
        One email per week. No spam policy.
        %br
        Can't wait? Checkout our latest issue.
      %br
.container
  %h1.text-center What digital nomads say
  %hr
  .row
    .col-md-4
      .text-center
        %img.img-circle{:alt => "", :src => "http://lorempixel.com/128/128"}
        %h3 Maciek Zywno
      %p The best thing since sliced bread. Disclaimer: I'm NomadWeekly curator ;)
    .col-md-4
      .text-center
        %img.img-circle{:alt => "", :src => "http://lorempixel.com/128/128"}
        %h3 You
      %p I want to hear from you (make it an email link)
    .col-md-4
      .text-center
        %img.img-circle{:alt => "", :src => "http://lorempixel.com/128/128"}
        %h3 ...
      %p ...