- content_for :title do
  Archive
.container
  .page-header
    %h1
      Archive
  .timeline
    .line.text-muted
    - issues.each do |issue|
      %article.panel.panel-success
        .panel-heading.icon
          %i.glyphicon.glyphicon-envelope
        .panel-heading
          %h2.panel-title Issue ##{issue.id} — #{issue.created_at}
        .panel-body
          ◾Use Any C Library From Ruby via Fiddle
          %br
          ◾rack-mini-profiler: The Secret Weapon of Ruby and Rails Speed
          %br
          ◾The Best of RailsConf 2015 in 8 Talks
          %br
          ◾Use Any C Library From Ruby via Fiddle
          %br
          ◾rack-mini-profiler: The Secret Weapon of Ruby and Rails Speed
        .panel-footer
          By
          = issue.author
%br
%br
%br
%br