- content_for :title do
  Archive
.container
  .page-header
    %h1
      Archive
  .timeline
    .line.text-muted
    - 30.times do
      %article.panel.panel-success
        .panel-heading.icon
          %i.glyphicon.glyphicon-envelope
        .panel-heading
          %h2.panel-title Issue #342 — July 30, 2015
        .panel-body
          ◾Use Any C Library From Ruby via Fiddle
          %br
          ◾rack-mini-profiler: The Secret Weapon of Ruby and Rails Speed
          %br
          ◾The Best of RailsConf 2015 in 8 Talks
          %br
          ◾Use Any C Library From Ruby via Fiddle
          %br
          ◾rack-mini-profiler: The Secret Weapon of Ruby and Rails Speed

%br
%br
%br
%br