@import "bootstrap-sprockets";
@import "bootstrap";
.timeline {
  position: relative;
  padding: 21px 0px 10px;
  margin-top: 4px;
  margin-bottom: 30px;
}

.timeline .line {
  position: absolute;
  width: 4px;
  display: block;
  background: currentColor;
  top: 0px;
  bottom: 0px;
  margin-left: 30px;
}

.timeline .separator {
  border-top: 1px solid currentColor;
  padding: 5px;
  padding-left: 40px;
  font-style: italic;
  font-size: .9em;
  margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
  content: '';
  position: absolute;
  left: -4px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: currentColor;
}

.timeline .panel {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both;
}

.timeline .panel::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: '';
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
  position: absolute;
  left: -59px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left;
}

.timeline .panel-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.timeline .panel-outline .panel-body {
  padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
  display: none;
}

html,body {
  height:100%;
  margin:0;
  padding:0;
}

body {
  font-family:wf_segoe-ui_normal,HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#443;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  position:relative;
}

a {
  color:#2ecc71;
  text-decoration:none;
}

a:hover,a:focus {
  color:#2ecc71;
  text-decoration:underline;
}

h1 {
  font-size:3rem!important;
}

h2 {
  font-size:2.2rem;
}

h3 {
  font-size:1.8rem;
}

footer {
  margin:0;
  top:0;
  left:0;
  bottom:0;
  height:135px;
  width:100%;
  background-color:#333;
  font-size:12px;
  color:#fff;
  padding:25px 0;
}

.navbar {
  font-size:16px;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
}

.navbar .navbar-brand {
  padding-left:35px;
  font-size:25px;
  letter-spacing:-.04rem;
  line-height:14px;
  color:#fff;
}

.navbar-inverse {
  background:#3a539b;
  border:none;
  margin-bottom:0;
}

.navbar>.container {
  padding-top:30px;
}

.navbar li>a {
  cursor:pointer;
  padding-left:12px;
  padding-right:12px;
}

.navbar-left li>a {
  opacity:.5;
  -moz-transition:opacity .08s ease-in;
  -o-transition:opacity .08s ease-in;
  -webkit-transition:opacity .08s ease-in;
  transition:opacity .08s ease-in;
}

.navbar-left li>a:hover {
  opacity:.8;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover {
  opacity:1;
  background:none;
}

.navbar .navbar-right .link-button {
  background-color:rgba(255,255,255,.15)!important;
  color:#fff;
  font-size:16px;
  margin-top:4px;
  padding:8px 20px;
}

.navbar-collapse {
  border:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.navbar-inverse .navbar-toggle:focus {
  background-color:transparent;
}

.jumbotron {
  background-color:#3a539b;
  color:#fff;
  height:100%;
}

.jumbotron p {
  font-family:wf_segoe-ui_light,wf_segoe-ui_semilight,wf_segoe-ui_normal,HelveticaNeue-Thin,HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,sans-serif;
  font-size:20px;
  color:rgba(255,255,255,.6);
}

.navbar-inverse .navbar-nav>li>a,footer .links a {
  color:#fff;
}