%footer
  .container
    .row
      .col-md-6
        %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "true", :href => "https://twitter.com/yournomadweekly"}
          Follow @yournomadweekly
        :javascript
          window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
      .col-md-6
        .pull-right
          %span © 2015 Nomadweekly. All rights reserved.